<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Very private and secret page for cat lovers (like Tzu Yu)</h1>

    <iframe
      src="https://giphy.com/embed/ICOgUNjpvO0PC"
      width="480"
      height="359"
      frameborder="0"
      class="giphy-embed"
      allowfullscreen
    ></iframe>
    <p>
      <a href="https://giphy.com/gifs/cat-humour-funny-ICOgUNjpvO0PC"
        >via GIPHY
      </a>
    </p>
  </body>
</html>
